## Data Acquisition

In [1]:
import pandas as pd

In [2]:
btc_trades_df = pd.read_parquet('btc_trades_df.parquet', engine='fastparquet')

In [3]:
btc_trades_df

                date  type         price    amount
tid
4615083   1565899033  sell   41151.00000  0.001470
4615084   1565899043   buy   41188.99999  0.012139
4615085   1565899055  sell   41151.00000  0.150000
4615086   1565899058  sell   41151.00000  0.150000
4615087   1565899063   buy   41188.99999  0.150000
...              ...   ...           ...       ...
16100028  1707826493   buy  249764.06000  0.000194
16100029  1707826493   buy  249764.06000  0.003296
16100030  1707826498  sell  249520.00005  0.000301
16100031  1707826498  sell  249520.00005  0.000020
16100032  1707826514   buy  249764.06000  0.000194

[12179978 rows x 4 columns]